@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

// Define color variables
$base-color: #FCD0CE;
$color: darken($base-color, 5%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background: #e8e8e8;
  min-height: 100vh;
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 32px;
  padding: 3px;
  position: relative;
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(96, 75, 74, 0.19) 0px 70px 30px -50px;

  .mail {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;

    svg {
      stroke: $color;
      stroke-width: 3px;

      &:hover {
        stroke: darken($color, 20%);
      }
    }
  }

  .profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    border-radius: 29px;
    z-index: 1;
    border: 0px solid $color;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease-in-out;
    }
  }

  .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: $color;
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: inset rgba(96, 75, 74, 0.19) 0px 5px 5px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

    .content {
      position: absolute;
      bottom: 0;
      left: 1.5rem;
      right: 1.5rem;
      height: 170px;

      .name {
        font-size: 1.2rem;
        color: white;
        font-weight: 900;
      }

      .about-me {
        font-size: 0.9rem;
        color: white;
        margin-top: 1rem;
      }
    }

    .bottom-bottom {
      position: absolute;
      bottom: 1rem;
      left: 1.5rem;
      right: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .social-links-container {
        display: flex;
        gap: 1rem;

        svg {
          height: 20px;
          fill: white;
          filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.13));

          &:hover {
            fill: darken($color, 20%);
            transform: scale(1.2);
          }
        }
      }

      .button {
        background: white;
        color: $color;
        border: none;
        border-radius: 20px;
        font-size: 0.6rem;
        padding: 0.4rem 0.6rem;
        box-shadow: rgba(165, 132, 130, 0.13) 0px 5px 5px;

        &:hover {
          background: darken($color, 20%);
          color: white;
        }
      }
    }
  }

  &:hover {
    border-top-left-radius: 55px;

    .bottom {
      top: 20%;
      border-radius: 80px 29px 29px 29px;
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    }

    .profile-pic {
      width: 100px;
      height: 100px;
      top: 10px;
      left: 10px;
      border-radius: 50%;
      z-index: 3;
      border: 7px solid $color;
      box-shadow: rgba(96, 75, 74, 0.19) 0px 5px 5px;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.3);
        border-radius: 0px;
      }

      img {
        transform: scale(2.5);
        object-position: 0px 25px;
        transition: all 0.5s ease-in-out 0.5s;
      }
    }
  }
}
